# Data and local artifacts
data/
logs/
.ipynb_checkpoints/

# Databases
*.db
*.sqlite*

# Large exports and binaries
*.parquet
*.feather
# vendor_performance.pbix
# Vendor Performance Report.pdf
vendor_sales_summary.csv

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/